---
layout: page
title: Presentations / Talks
permalink: /presentations/
---

{% for conference in site.data.talks.data %}
<div class="row">
  <div class="col-md-12">
    <a name="{{ conf.slug }}" class="bloganchor">
      <h3>{{ conference.conference }}</h3>

    </a>
    <h5>{{ conference.date }} <a href="{{ conference.web_link }}">Conference Homepage</a></h5>

    {% for session in conference.sessions %}
    <div class="row">
      <div class="col-xs-11">
        <h4>{{ session.title }}</h4>
        <p>{{ session.abstract }}</p>

        {% if session.abstract %}
        <ul>
          {% for asset in session.assets %}
            <li><a href="{{ asset.link }}">{{ asset.title }}</a></li>
          {% endfor %}
        </ul>

        {% endif %}

      </div>
    </div>
    {% endfor %}

    <hr>
  </div>
</div>

{% endfor %}
