<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="{{ "/assets/gallery/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "/assets/gallery/css/main.css" | relative_url }}" />
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "/assets/gallery/css/ie8.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "/assets/gallery/css/ie9.css" | relative_url }}" /><![endif]-->
	<noscript><link rel="stylesheet" href="{{ "/assets/gallery/css/noscript.css" | relative_url }}" /></noscript>
	<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"></noscript>
</head>
