{% if site.google_analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl =
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

<!-- gist embed -->
{% if page.gistembed %}
  {% include gist_embed.html %}
{% endif %}

<!-- Can I include this *only* if needed? -->
{% if page.lightbox %}
<script async defer src="{{ site.baseurl }}/public/js/lightbox-plus-jquery.min.js"></script>
{% endif %} 

{% if page.category contains 'mypubs2' or page.category contains 'myaoi2' %}
<script src="{{ site.baseurl }}/public/js/jquery.min.js"></script>
{% endif %}
