extends _layout.jade

block content

  //- container-fluid
  .container
    .page-header
      h4 Contact Me
    .row
      .col-sm-5.col-sm-offset-1
        p
        | I try to be available in a number of ways online, but if you'd like to send an email,
        | please feel free to click the "Contact Us" button on the left and I'll get back to
        | you as soon as I can.



        script.
          /* var bcf_settings = { buttonText:'Contact Us', buttonTop:'30%', language:'en_US' }; // Better Contact Form Settings */
          (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0]; js = d.createElement(s); js.id = id;
            js.src = "http://bettercontactform.com/contact/media/1/b/1b5d246d5df078a0f09c9ee522c8ef67ee1f5d33.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, "script", "bcf-render"));



      .col-sm-6



